
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    padding: 1rem 5%;
}



.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;

}

.nav-links li {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    
   
    
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    
}

.nav-links a:hover {
    color: #1943b8;
    animation-play-state: paused;
}


.hero {
    height: 60vh;
    background-image:url("C:\Users\Admin\OneDrive\Desktop\images.jpg");
    background: linear-gradient(rgba(50, 24, 24, 0.6), rgba(0, 0, 0, 0.541)), 
                url('https://www.swaminarayanuniversity.ac.in/assets/img/about/abt_un.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

button:hover{
    transform: scale(1.05);
    transition: 0.3s;
    color: rgb(0, 0, 0);
}

.cta-btn {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;

}


.courses {
    padding: 50px 5%;
    text-align: center;
    background-color: #f4f4f4;
}

.course-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.course-card {
    background: white;
    width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
    background-color: #2c3e50;
    color: rgb(12, 11, 11);
    text-align: center;
    padding: 20px;

}

