body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #fef9e7;
    margin: 0;
    padding: 20px;
}

header {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #d45d2b;
    border-bottom: 2px solid #d45d2b;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: inline-block;
}
.university-image{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.caption {
    font-family: 'Georgia', serif;
    margin-top: 15px;
    color: #555;
    font-size: 16px;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}

.highlight {
    font-weight: 600;
}

.foot-panel4{
    background-color: #a4abab;
    color: rgb(0, 0, 0);
    height: 80px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-align: center;
    padding-top: 25px;
    border-radius: 8px;
    margin-top: 20px;

}

.pages{
    font-size: 0.7rem;
   
}

.copyright{
    padding-top: 5px;
    
}